<div class="col-1-header"><b>LJT Mods</b> > NBA 2K14 > Post > 20</div>
<div class="col-1-section">
    <div class="col-1-header">
        <img src="Public/img/nba-2k14.jpg" class="profile-pic">
        <div class="user-info">
            <span class="username">NBA 2K14</span>
            <span class="date">December 23, 2024</span>
        </div>
    </div>
    <div class="details-caption">
        Denver Nuggets 2024-25 Jersey Pack
    </div>
    <div class="description">
        <span>Credits:</span>
        <span>• REAL MGS</span>
        <span>• FrancisXyron15 2.0</span>
        <span>• Pep Ruusut</span>
        <a href="https://www.mediafire.com/file/jrwgi2zj3buqsca/Denver_Nuggets_2024-25_Jersey_Pack_by_LJT2K.zip/file" target="_blank">
            Download
        </a>
    </div>
    <div class="image-grid">
        No image uploaded.
    </div>
</div>