<a href="#/nba-2k14/post/3" class="item">
    <span title="2023-24 City Edition Jersey Pack Part 3" class="name">2023-24 City Edition Jersey Pack Part 3</span>
    <span class="details">February 20, 2024</span>
</a>
<a href="#/nba-2k14/post/2" class="item">
    <span title="2023-24 City Edition Jersey Pack Part 2" class="name">2023-24 City Edition Jersey Pack Part 2</span>
    <span class="details">January 14, 2024</span>
</a>
<a href="#/nba-2k14/post/1" class="item">
    <span title="2023-24 City Edition Jersey Pack Part 1" class="name">2023-24 City Edition Jersey Pack Part 1</span>
    <span class="details">January 13, 2024</span>
</a>
<a href="#/nba-2k14/post/28" class="item">
    <span title="2023-24 National Broadcast Core Court (Low Reflection) Pack (Next-Gen Version)" class="name">2023-24 National Broadcast Core Court (Low Reflection) Pack (Next-Gen Version)</span>
    <span class="details">November 27, 2023</span>
</a>
<a href="#/nba-2k14/post/27" class="item">
    <span title="2023-24 Local Broadcast Core Court (High Reflection) Pack (Next-Gen Version)" class="name">2023-24 Local Broadcast Core Court (High Reflection) Pack (Next-Gen Version)</span>
    <span class="details">November 27, 2023</span>
</a>
<a href="#/nba-2k14/post/26" class="item">
    <span title="2023-24 Local Broadcast Core Court (Medium Reflection) Pack (Next-Gen Version)" class="name">2023-24 Local Broadcast Core Court (Medium Reflection) Pack (Next-Gen Version)</span>
    <span class="details">November 27, 2023</span>
</a>
<a href="#/nba-2k14/post/25" class="item">
    <span title="2023-24 Local Broadcast Core Court (Low Reflection) Pack (Next-Gen Version)" class="name">2023-24 Local Broadcast Core Court (Low Reflection) Pack (Next-Gen Version)</span>
    <span class="details">November 26, 2023</span>
</a>