<div class="col-1-header"><b>LJT Mods</b> > Stickman Basketball > Post > 1</div>
<div class="col-1-section">
    <div class="col-1-header">
        <img src="Public/img/stickman-basketball.jpg" class="profile-pic">
        <div class="user-info">
            <span class="username">Stickman Basketball</span>
            <span class="date">July 30, 2023</span>
        </div>
    </div>
    <div class="details-caption">
        LIVE Stickman LJT Update
    </div>
    <div class="description">
        <span>LIVE Stickman is a modified game of Stickman Basketball. The original game was created by the Djinnworks GmbH. In this modified game you can see a lot of improvements from the default Stickman Basketball Game to NBA LIVE Game. I'm not claiming this game, I'm just making the game more exciting to play.</span>
        <span>☑️ Offline (No internet access)</span>
        <span>Credits:</span>
        <span>©️ Djinnworks GmbH</span>
        <span>©️ NBA2K Live 16</span>
        <span>©️ Lance Rexus</span>
        <span>©️ Along Apostol Ferrer</span>
        <span>Reminders:</span>
        <span>❗Do not re-modify our mods.</span>
        <span>❗Do not re-upload our mods.</span>
        <span>❗You can share our mods but give credits to us.</span>
        <span>💬 About the Main Menu. Only working buttons are "LEARN LIVE" and "TIP OFF" and the others are fake. The others are designs only.</span>
        <a href="https://youtu.be/26-096IunqI" target="_blank">
            Preview
        </a>
        <a href="https://sharemods.com/5znix0jq8not/LIVE_Stickman_by_LJT___40_Update_9-12-17__41_.7z.html" target="_blank">
            Download
        </a>
    </div>
    <div class="image-grid">
        <img src="Views/StickmanBasketball/Images/1.jpg">
    </div>
</div>