<div class="col-1-header"><b>LJT Mods</b> > Stickman Basketball</div>
<a href="#/stickman-basketball/post/1" id="1" class="col-1-section">
    <div class="col-1-header">
        <img src="Public/img/stickman-basketball.jpg" class="profile-pic">
        <div class="user-info">
            <span class="username">Stickman Basketball</span>
            <span class="date">July 30, 2023</span>
        </div>
    </div>
    <div class="caption">
        LIVE Stickman LJT Update
    </div>
    <div class="image-grid">
        <img src="Views/StickmanBasketball/Images/1.jpg">
    </div>
</a>