<a href="#/gta-san-andreas" class="item">
    <span title="GTA: San Andreas" class="name">GTA: San Andreas</span>
    <span title="Total mods" class="details">13</span>
</a>
<a href="#/nba-2k11" class="item">
    <span title="NBA 2K11" class="name">NBA 2K11</span>
    <span title="Total mods" class="details">1</span>
</a>
<a href="#/nba-2k14" class="item">
    <span title="NBA 2K14" class="name">NBA 2K14</span>
    <span title="Total mods" class="details">29</span>
</a>
<a href="#/stickman-basketball" class="item">
    <span title="Stickman Basketball" class="name">Stickman Basketball</span>
    <span title="Total mods" class="details">1</span>
</a>