<div id="mods-list" class="col-1">
    <div class="col-1-header"><b>LJT Mods</b> > Stickman Basketball</div>
    <div class="col-1-section">
        <div class="loader"></div>
    </div>
</div>
<div class="col-2">
    <div class="col-2-section">
        <div class="col-2-header">
            <span>Games</span>
        </div>
        <div id="games-list" class="list"></div>
    </div>
    <div class="col-2-section">
        <div class="col-2-header">
            <span>Mod Packs</span>
        </div>
        <div id="mod-packs-list" class="list"></div>
    </div>
    <div class="col-2-section">
        <div class="col-2-header">
            <span>Individual Mods</span>
        </div>
        <div id="individual-mods-list" class="list"></div>
    </div>
</div>