@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
    color: var(--color-5);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    background: var(--color-1);
}

/* HEADER */
.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    z-index: 2;
    border-bottom: 1px solid var(--color-3);
    background: var(--color-2);
}
.header-container {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-brand {
    text-decoration: none;
    display: flex;
    align-items: center; 
    gap: 10px;
}
.logo {
    height: 30px;
    width: auto;
}
.header-brand span {
    font-size: 20px;
    font-weight: bold;
}
.theme-toggle {
    cursor: pointer;
    color: var(--color-5);
    font-size: 13px;
    user-select: none;
}
.theme-toggle:hover {
    text-decoration: underline;
}

/* CONTAINER */
.container {
    width: 1170px;
    margin: 90px auto 0;
}
.row {
    display: flex;
    gap: 30px;
}

/* COLUMN 1*/
.col-1 {
    display: flex;
    flex-direction: column;
}
.col-1-header {
    font-size: 12px;
    margin-bottom: 10px;
}
.col-1-section {
    text-decoration: none;
    width: 785px;
    padding: 20px;
    margin-bottom: 20px;
    padding: 20px;
    scroll-margin-top: 90px;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    background: var(--color-2);
}
.col-1-section:hover .caption {
    text-decoration: underline;
}
.col-1-section .message {
    font-size: 14px;
}
.col-1-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}
.profile-pic {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    border: 1px solid var(--color-3);
}
.user-info {
    display: flex;
    flex-direction: column;
}
.username {
    font-size: 14px;
}
.date {
    color: var(--color-4);
    font-size: 12px;
}
.caption,
.details-caption {
    font-size: 18px;
    margin-bottom: 15px;
}
.description {
    color: var(--color-5);
    font-size: 14px;
}
.description * {
    display: block;
    text-align: left;
}
.description a {
    display: inline;
}
.description a::after {
    content: '';
    display: block;
}
.image-grid {
    font-size: 12px;
    font-style: italic;
    margin-top: 15px;
}
.image-grid img {
    height: auto;
    width: 100%;
}

/* COLUMN 2*/
.col-2 {
    display: flex;
    flex-direction: column;
}
.col-2-section {
    width: 385px;
    margin-bottom: 20px;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    background: var(--color-2);
}
.col-2-header {
    padding: 20px;
    border-bottom: 1px solid var(--color-3);
}
.col-2-header span {
    font-size: 14px;
    font-weight: bold;
}
.list {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.item,
.no-item {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item:hover {
    text-decoration: underline;
}
.item.active {
    text-decoration: underline;
}
.name {
    font-size: 14px;
    max-width: calc(100% - 125px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.no-item .name {
    color: var(--color-4);
    font-size: 12px;
    font-style: italic;
}
.details {
    color: var(--color-4);
    font-size: 12px;
}
.list .details {
    max-width: 125px;
}

/* LOADER */
.loader {
    height: 50px;
    width: 50px;
    margin: auto;
    border: 6px solid var(--color-3);
    border-top: 6px solid var(--color-5);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    background-color: var(--color-3);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
    .header-nav {
        padding: 0;
    }
    .header-container,
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .row {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .col-1-section, 
    .col-2-section {
        width: 100% !important;
    }
    .col-2-section:last-child {
        margin-bottom: 0;
    }
    .container {
        margin-top: 90px;
    }
}