<div class="col-1-header"><b>LJT Mods</b> > GTA: San Andreas > Post > 11</div>
<div class="col-1-section">
    <div class="col-1-header">
        <img src="Public/img/gta-san-andreas.jpg" class="profile-pic">
        <div class="user-info">
            <span class="username">GTA: San Andreas</span>
            <span class="date">November 10, 2022</span>
        </div>
    </div>
    <div class="details-caption">
        GTASAAndroid HondaPCX160 RemodByLJT
    </div>
    <div class="description">
        <span>Honda PCX 160 for GTA San Andreas Android</span>
        <span>The DFF only/no TXD version was converted by me.</span>
        <span>What's new?</span>
        <span>✅ DFF only.</span>
        <span>✅ 10% bigger model size.</span>
        <span>✅ Changeable primary color in game.</span>
        <span>❗Note</span>
        <span>➡️ If you experienced disappearing map or map texture bug just download this and put in your GTA SA Android Data directory (android/data/com.rockstargames.gtasa/HERE):</span>
        <a href="https://sharemods.com/1dc4a0pbdiaa/SteamMemoryGTASAAndroid.zip.html" target="_blank">
            SteamMemoryGTASAAndroid.zip
        </a>
        <span>Credits:</span>
        <span>©️ Bas eiei</span>
        <a href="https://youtu.be/S_Q9wl8OpCI" target="_blank">
            Preview
        </a>
        <a href="https://sharemods.com/5ougbj33x3mv/GTASAAndroid_HondaPCX160_RemodByLJT.zip.html" target="_blank">
            Download
        </a>
        <span>Password: HoNdAPCX160</span>
    </div>
    <div class="image-grid">
        <img src="Views/GTASanAndreas/Images/11.jpg">
    </div>
</div>