<div class="col-1-header"><b>LJT Mods</b> > GTA: San Andreas > Post > 12</div>
<div class="col-1-section">
    <div class="col-1-header">
        <img src="Public/img/gta-san-andreas.jpg" class="profile-pic">
        <div class="user-info">
            <span class="username">GTA: San Andreas</span>
            <span class="date">November 19, 2022</span>
        </div>
    </div>
    <div class="details-caption">
        LJT Aerox155V2 GTASAAndroid
    </div>
    <div class="description">
        <span>Yamaha Aerox 155 V2 for GTA San Andreas Android</span>
        <span>Remod by LJT (DFF Only):</span>
        <span>What's new?</span>
        <span>✅ DFF only.</span>
        <span>✅ 10% bigger model size.</span>
        <span>✅ Works in default bike ifp.</span>
        <span>✅ Increased poly for higher quality.</span>
        <span>✅ Changeable primary and secondary color.</span>
        <span>❗Note</span>
        <span>➡️ If you experienced disappearing map or map texture bug just download this and put in your GTA SA Android Data directory (android/data/com.rockstargames.gtasa/HERE):</span>
        <a href="https://sharemods.com/1dc4a0pbdiaa/SteamMemoryGTASAAndroid.zip.html" target="_blank">
            SteamMemoryGTASAAndroid.zip
        </a>
        <span>🛵 Replace in carcols.dat (Line 305)</span>
        <span>sanchez, 40, 6, 11, 65, 40, 3, 79, 79, 40, 93, 3, 40</span>
        <span>Credits:</span>
        <span>©️ BRC - Garage</span>
        <a href="https://youtu.be/OBGK7Hj-RXY" target="_blank">
            Preview
        </a>
        <a href="https://sharemods.com/372lkzdqunf2/LJT_Aerox155Connected_GTASAAndroid.zip.html" target="_blank">
            Download
        </a>
        <span>Password: A155C</span>
    </div>
    <div class="image-grid">
        <img src="Views/GTASanAndreas/Images/12.jpg">
    </div>
</div>