<div class="col-1-header"><b>LJT Mods</b> > GTA: San Andreas > Post > 13</div>
<div class="col-1-section">
    <div class="col-1-header">
        <img src="Public/img/gta-san-andreas.jpg" class="profile-pic">
        <div class="user-info">
            <span class="username">GTA: San Andreas</span>
            <span class="date">December 21, 2022</span>
        </div>
    </div>
    <div class="details-caption">
        LJT GTASAAndroid DFFOnly HondaADV150
    </div>
    <div class="description">
        <span>Honda ADV150 for GTA San Andreas Android</span>
        <span>Remod by LJT (DFF Only):</span>
        <span>What's new?</span>
        <span>✅ DFF only.</span>
        <span>✅ Changeable primary and secondary color.</span>
        <span>❗Note</span>
        <span>➡️ If you experienced disappearing map or map texture bug just download this and put in your GTA SA Android Data directory (android/data/com.rockstargames.gtasa/HERE):</span>
        <a href="https://sharemods.com/1dc4a0pbdiaa/SteamMemoryGTASAAndroid.zip.html" target="_blank">
            SteamMemoryGTASAAndroid.zip
        </a>
        <span>Credits:</span>
        <span>©️ BroDee22Official</span>
        <a href="https://youtu.be/_b4FCKFFSrA" target="_blank">
            Preview
        </a>
        <a href="https://sharemods.com/ud75bzd2buvq/LJT_GTASAAndroid_DFFOnly_HondaADV150.zip.html" target="_blank">
            Download
        </a>
        <span>Password: ADV150DFFOnly</span>
    </div>
    <div class="image-grid">
        <img src="Views/GTASanAndreas/Images/13.jpg">
    </div>
</div>