<div class="col-1-header"><b>LJT Mods</b> > GTA: San Andreas > Post > 3</div>
<div class="col-1-section">
    <div class="col-1-header">
        <img src="Public/img/gta-san-andreas.jpg" class="profile-pic">
        <div class="user-info">
            <span class="username">GTA: San Andreas</span>
            <span class="date">May 21, 2022</span>
        </div>
    </div>
    <div class="details-caption">
        GTASA Android Yamaha XMax 300 V1
    </div>
    <div class="description">
        <span>Yamaha XMAX 300 (DFF Only) for GTA San Andreas Android</span>
        <span>☑️ Working on Android 11+</span>
        <span>☑️ No crashes</span>
        <span>☑️ No black CLEO</span>
        <span>This vehicle mod was converted by me to no texture mode.</span>
        <span>❗Note</span>
        <span>➡️ If you experienced disappearing map or map texture bug just download this and put in your GTA SA Android Data directory (android/data/com.rockstargames.gtasa/HERE):</span>
        <a href="https://sharemods.com/1dc4a0pbdiaa/SteamMemoryGTASAAndroid.zip.html" target="_blank">
            SteamMemoryGTASAAndroid.zip
        </a>
        <span>Replace the following:</span>
        <span>OPTION 1</span>
        <span>✏️ Replace in carcols.dat (Line 274).</span>
        <span>pcj600, 53, 0, 53, 53, 14, 0, 14, 14, 77, 0, 77, 77, 124, 0, 124, 124</span>
        <span>✏️  Replace in handling.cfg (Line 264).</span>
        <span>BIKE          500.0     161.7   4.0    0.0 0.05 -0.09 103 1.6 0.9  0.48  5 190.0 50.0 5.0  R P  15.0  0.50 0 35.0   0.85 0.15  0.0   0.15 -0.16 0.5  0.0  0.0  0.15 10000  1000000  0   1  1 4</span>
        <span>✏️ Replace in vehicles.ide (Line 74).</span>
        <span>461, pcj600,  pcj600,  bike,  BIKE,  PCJ600,  biked, motorbike, 10, 0, 0,  16, 0.67, 0.67,  -1</span>
        <span>OPTION 2</span>
        <span>✏️ Rename the file to sanchez.dff.</span>
        <span>✏️ Replace in carcols.dat (Line 305).</span>
        <span>sanchez, 53, 0, 53, 53, 14, 0, 14, 14, 77, 0, 77, 77, 124, 0, 124, 124</span>
        <span>Credits:</span>
        <span>©️ Fhmi Raccer</span>
        <a href="https://youtu.be/9hSCX_jCkcY" target="_blank">
            Preview
        </a>
        <a href="https://sharemods.com/cftlpgq1417a/GTASA_Android_Yamaha_XMax.zip.html" target="_blank">
            Download
        </a>
        <span>Password: DFFbyLJTYamahaXMax</span>
    </div>
    <div class="image-grid">
        <img src="Views/GTASanAndreas/Images/3.jpg">
    </div>
</div>