<div class="col-1-header"><b>LJT Mods</b> > GTA: San Andreas > Post > 7</div>
<div class="col-1-section">
    <div class="col-1-header">
        <img src="Public/img/gta-san-andreas.jpg" class="profile-pic">
        <div class="user-info">
            <span class="username">GTA: San Andreas</span>
            <span class="date">June 25, 2022</span>
        </div>
    </div>
    <div class="details-caption">
        GTASAAndroid Yamaha TMAX 560
    </div>
    <div class="description">
        <span>Yamaha TMAX 560 for GTA San Andreas Android</span>
        <span>☑️ Working on Android 11+</span>
        <span>☑️ No crashes</span>
        <span>☑️ No black CLEO</span>
        <span>This vehicle mod was converted by me to no texture mode.</span>
        <span>❗Note</span>
        <span>➡️ If you experienced disappearing map or map texture bug just download this and put in your GTA SA Android Data directory (android/data/com.rockstargames.gtasa/HERE):</span>
        <a href="https://sharemods.com/1dc4a0pbdiaa/SteamMemoryGTASAAndroid.zip.html" target="_blank">
            SteamMemoryGTASAAndroid.zip
        </a>
        <span>✏️ Replace in carcols.dat</span>
        <span>sanchez, 40, 6, 8, 79, 79, 0</span>
        <a href="https://youtu.be/n8fXbSLuk3Y" target="_blank">
            Preview
        </a>
        <a href="https://sharemods.com/3w543wmu9pza/GTASAAndroid_Yamaha_TMAX_560.zip.html" target="_blank">
            Download
        </a>
        <span>Password: TMax560forGTASAAndroid</span>
    </div>
    <div class="image-grid">
        <img src="Views/GTASanAndreas/Images/7.jpg">
    </div>
</div>