<div class="col-1-header"><b>LJT Mods</b> > GTA: San Andreas > Post > 9</div>
<div class="col-1-section">
    <div class="col-1-header">
        <img src="Public/img/gta-san-andreas.jpg" class="profile-pic">
        <div class="user-info">
            <span class="username">GTA: San Andreas</span>
            <span class="date">July 30, 2022</span>
        </div>
    </div>
    <div class="details-caption">
        GTASAAndroid YamahaNMax155V2
    </div>
    <div class="description">
        <span>Yamaha NMAX 155 V2 (DFF Only) for GTA San Andreas Android</span>
        <span>☑️ Working on Android 11+</span>
        <span>☑️ No crashes</span>
        <span>☑️ No black CLEO</span>
        <span>This vehicle mod was converted by me to no texture mode.</span>
        <span>❗Note</span>
        <span>➡️ If you experienced disappearing map or map texture bug just download this and put in your GTA SA Android Data directory (android/data/com.rockstargames.gtasa/HERE):</span>
        <a href="https://sharemods.com/1dc4a0pbdiaa/SteamMemoryGTASAAndroid.zip.html" target="_blank">
            SteamMemoryGTASAAndroid.zip
        </a>
        <span>✏️ Replace in carcols.dat (Line 305)</span>
        <span>sanchez, 8, 79, 24, 6, 3, 0, 79, 0</span>
        <a href="https://youtu.be/-tVG8gxKpkI" target="_blank">
            Preview
        </a>
        <a href="https://sharemods.com/u8w08f8l3waz/GTASAAndroid_YamahaNMax155.zip.html" target="_blank">
            Download
        </a>
    </div>
    <div class="image-grid">
        <img src="Views/GTASanAndreas/Images/9.jpg">
    </div>
</div>